html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.justify {
  text-align: justify; }

.hidden-sm {
  display: none; }

.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 33.75em) {
    .container {
      width: 80%; } }
  @media only screen and (min-width: 60em) {
    .container {
      width: 95%;
      max-width: 90rem; } }

.row {
  position: relative;
  width: 100%; }

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem; }

.row::after {
  content: "";
  display: table;
  clear: both; }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%; }

.col-1-sm {
  width: 4.33333%; }

.col-2-sm {
  width: 12.66667%; }

.col-3-sm {
  width: 21%; }

.col-4-sm {
  width: 29.33333%; }

.col-5-sm {
  width: 37.66667%; }

.col-6-sm {
  width: 46%; }

.col-7-sm {
  width: 54.33333%; }

.col-8-sm {
  width: 62.66667%; }

.col-9-sm {
  width: 71%; }

.col-10-sm {
  width: 79.33333%; }

.col-11-sm {
  width: 87.66667%; }

.col-12-sm {
  width: 96%; }

@media only screen and (min-width: 45em) {
  .col-1 {
    width: 4.33333%; }
  .col-2 {
    width: 12.66667%; }
  .col-3 {
    width: 21%; }
  .col-4 {
    width: 29.33333%; }
  .col-5 {
    width: 37.66667%; }
  .col-6 {
    width: 46%; }
  .col-7 {
    width: 54.33333%; }
  .col-8 {
    width: 62.66667%; }
  .col-9 {
    width: 71%; }
  .col-10 {
    width: 79.33333%; }
  .col-11 {
    width: 87.66667%; }
  .col-12 {
    width: 96%; }
  .hidden-sm {
    display: block; } }

@font-face {
  font-family: "Founders Grotesk Medium";
  src: url("../font/FoundersGroteskWeb-Medium.eot?") format("eot"), url("../font/FoundersGroteskWeb-Medium.woff2") format("woff2"), url("../font/FoundersGroteskWeb-Medium.woff") format("woff"); }

@font-face {
  font-family: "Founders Grotesk Regular";
  src: url("../font/FoundersGroteskWeb-Regular.eot?") format("eot"), url("../font/FoundersGroteskWeb-Regular.woff2") format("woff2"), url("../font/FoundersGroteskWeb-Regular.woff") format("woff"); }

@font-face {
  font-family: "Tiempos Headline Bold";
  src: url("../font/TiemposHeadlineWeb-Bold.eot?") format("eot"), url("../font/TiemposHeadlineWeb-Bold.woff2") format("woff2"), url("../font/TiemposHeadlineWeb-Bold.woff") format("woff"); }

body {
  font-synthesis: none;
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, p, span, ol, ul, li {
  margin: 0;
  padding: 0; }

.headroom {
  will-change: transform;
  transition: transform 200ms linear; }

.headroom--unpinned {
  background-color: #ffffff; }

footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #0045C0; }
  footer .footer__meta {
    color: #ffffff; }
    footer .footer__meta h3 {
      font-family: "Founders Grotesk Medium";
      font-size: 18px; }
    footer .footer__meta h4 {
      font-family: "Founders Grotesk Regular";
      font-size: 18px; }
    footer .footer__meta a {
      color: #ffffff;
      font-family: "Founders Grotesk Medium";
      text-decoration: none; }
    footer .footer__meta span {
      margin-top: 50px;
      display: block;
      font-family: "Founders Grotesk Regular"; }
