@font-face {
  font-family: "Light";
  src: url("../font/HaasLight.woff2") format("woff2"); }

@font-face {
  font-family: "Regular";
  src: url("../font/HaasRegular.woff2") format("woff2"); }

@font-face {
  font-family: "Bold";
  src: url("../font/HaasBold.woff2") format("woff2"); }

body {
  font-synthesis: none;
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

header, main, footer, ol, ul, li, h1, h2, h3, h4, h5, p, span {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1, h2, h3, h4, h5 {
  font-weight: normal; }

img {
  max-width: 100%; }

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.justify {
  text-align: justify; }

.hidden-sm {
  display: none; }

.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 33.75em) {
    .container {
      width: 95%; } }
  @media only screen and (min-width: 60em) {
    .container {
      width: 95%;
      max-width: 90rem; } }

.row {
  position: relative;
  width: 100%; }

.row [class^="col"] {
  float: left;
  margin: 0 2%;
  min-height: 0.125rem; }

.row::after {
  content: "";
  display: table;
  clear: both; }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%; }

.col-1-sm {
  width: 4.33333%; }

.col-2-sm {
  width: 12.66667%; }

.col-3-sm {
  width: 21%; }

.col-4-sm {
  width: 29.33333%; }

.col-5-sm {
  width: 37.66667%; }

.col-6-sm {
  width: 46%; }

.col-7-sm {
  width: 54.33333%; }

.col-8-sm {
  width: 62.66667%; }

.col-9-sm {
  width: 71%; }

.col-10-sm {
  width: 79.33333%; }

.col-11-sm {
  width: 87.66667%; }

.col-12-sm {
  width: 96%; }

@media only screen and (min-width: 45em) {
  .col-1 {
    width: 4.33333%; }
  .col-2 {
    width: 12.66667%; }
  .col-3 {
    width: 21%; }
  .col-4 {
    width: 29.33333%; }
  .col-5 {
    width: 37.66667%; }
  .col-6 {
    width: 46%; }
  .col-7 {
    width: 54.33333%; }
  .col-8 {
    width: 62.66667%; }
  .col-9 {
    width: 71%; }
  .col-10 {
    width: 79.33333%; }
  .col-11 {
    width: 87.66667%; }
  .col-12 {
    width: 96%; }
  .hidden-sm {
    display: block; } }

.headroom {
  position: fixed;
  top: 0;
  will-change: transform;
  transition: all 350ms ease-in-out;
  transform: translateY(-100%);
  z-index: 100;
  width: 100%; }

.headroom--pinned {
  transform: translateY(-100%); }

.headroom--unpinned {
  transform: translateY(0); }

header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #000; }
  header img {
    height: 60px; }
  header ul {
    padding-top: 20px;
    padding-bottom: 20px; }
    header ul li {
      display: inline-block;
      padding-left: 30px;
      list-style: none; }
      header ul li a {
        color: #fff;
        font-family: "Bold";
        font-size: 12.5px;
        letter-spacing: 0.15em;
        line-height: 20px;
        text-decoration: none;
        text-transform: uppercase; }

body {
  background-color: #fff;
  font-family: "Regular"; }

.small {
  display: none !important; }

.med {
  display: none !important; }

.tablet {
  display: none !important; }

@media only screen and (max-width: 64em) {
  .tablet {
    display: block !important; }
  .desktop {
    display: none !important; } }

@media only screen and (max-width: 45em) {
  .med {
    display: block !important; }
  .large {
    display: none !important; }
  .desktop {
    display: none !important; } }

@media only screen and (max-width: 33.75em) {
  .desktop {
    display: none !important; }
  .small {
    display: block !important; } }

.header {
  position: fixed;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  z-index: 500;
  background-color: #ffffff;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1); }
  .header h2 {
    text-align: center; }
    .header h2 a {
      color: #000;
      font-size: 50px;
      font-weight: bold;
      line-height: 50px;
      text-decoration: none; }
  .header .menu {
    position: absolute;
    top: 55px;
    left: 30px;
    line-height: 20px;
    z-index: 1000;
    cursor: pointer; }

.corner--container .corner {
  position: fixed;
  z-index: 2000;
  font-size: 0; }

.corner--container .l-1 {
  top: 0;
  right: 0; }
  .corner--container .l-1 img {
    width: 130px;
    height: 130px; }

.corner--container .l-2 {
  bottom: 0;
  left: 0; }
  .corner--container .l-2 img {
    width: 75px;
    height: 75px; }

.mit span {
  color: #343A40;
  font-size: 12.5px;
  font-weight: bold; }

.divider {
  position: fixed;
  top: 130px;
  left: 50%;
  width: 1px;
  height: calc(100% - 120px);
  background-color: rgba(0, 0, 0, 0.1); }

nav {
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 100; }
  nav ul {
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px; }
    nav ul li {
      padding-top: 10px;
      padding-bottom: 10px;
      list-style: none;
      color: #ADB5BD;
      text-align: left; }
      nav ul li span {
        cursor: pointer;
        transition: all 0.5s; }
        nav ul li span:first-of-type {
          display: inline-block;
          margin-right: 10px;
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 5px;
          padding-right: 5px;
          width: 20px;
          height: 20px;
          border: solid 1px #ADB5BD;
          border-radius: 30px;
          font-size: 10px;
          line-height: 10px;
          text-align: center; }
        nav ul li span:nth-of-type(2) {
          opacity: 0;
          color: #ffffff;
          font-size: 10px; }
      nav ul li.state span:first-of-type {
        border-color: #000000;
        color: #000000; }
      nav ul li:hover span {
        opacity: 1;
        color: #000000; }
        nav ul li:hover span:first-of-type {
          border-color: #000000; }

.menu--container {
  display: table;
  position: fixed;
  top: 0;
  left: -360px;
  height: 100%;
  width: 360px;
  z-index: 2000;
  background-color: #000;
  transition: all ease-in-out 0.5s;
  cursor: pointer; }
  .menu--container.state {
    left: 0; }
  .menu--container ul {
    display: table-cell;
    margin: 0;
    padding-top: 120px;
    padding-left: 30px;
    vertical-align: middle; }
    .menu--container ul li {
      padding-top: 10px;
      padding-bottom: 10px;
      list-style: none; }
      .menu--container ul li a {
        color: #fff;
        font-size: 30px;
        text-decoration: none; }

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 360px;
  z-index: 750;
  width: calc(100% - 360px);
  height: 100%;
  cursor: pointer; }

body.home main .content--container {
  position: absolute;
  top: 60px;
  width: 100%; }
  body.home main .content--container .headline {
    padding-top: 150px; }
    body.home main .content--container .headline h3 {
      color: #000;
      font-size: 25px;
      line-height: 1.55; }
      body.home main .content--container .headline h3 span {
        color: #000;
        font-size: 25px;
        font-weight: bold;
        cursor: default; }
      body.home main .content--container .headline h3 a {
        color: #000;
        text-decoration: none;
        transition: all 0.5s; }
        body.home main .content--container .headline h3 a:hover {
          color: #ADB5BD; }
  body.home main .content--container .element--container {
    padding-top: 75px; }
    body.home main .content--container .element--container .element-image--container {
      text-align: center; }
      body.home main .content--container .element--container .element-image--container img {
        width: 300px;
        height: auto; }
    body.home main .content--container .element--container .element-text--container {
      margin: 0 auto;
      padding-top: 20px;
      width: 260px; }
      body.home main .content--container .element--container .element-text--container a {
        text-decoration: none; }
        body.home main .content--container .element--container .element-text--container a h4 {
          margin-bottom: 10px;
          color: #000;
          font-size: 20px;
          letter-spacing: -0.025em; }
        body.home main .content--container .element--container .element-text--container a p {
          color: #ADB5BD;
          font-size: 15px;
          line-height: 1.15; }

body.home main .mit {
  position: fixed;
  bottom: 20px;
  width: 100%;
  text-align: center; }

body.about .image {
  opacity: 0;
  position: absolute;
  mix-blend-mode: multiply; }
  body.about .image img {
    max-width: 100%; }

body.about .ml-learning-initiative-image--holder {
  width: 50%;
  top: 50%;
  margin-top: -37.5%;
  padding-left: 25%;
  padding-right: 25%; }

body.about .ocean-image--holder {
  left: 0;
  width: 70%;
  top: 50%;
  margin-top: -25%;
  padding-left: 15%;
  padding-right: 15%; }

body.about .left,
body.about .right {
  display: inline-block;
  position: fixed;
  width: 50%;
  height: 100%; }

body.about .left {
  left: 0; }
  body.about .left .mit {
    position: absolute;
    bottom: 30px;
    z-index: 100;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    text-align: center; }

body.about .right {
  right: 0; }
  body.about .right nav {
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 100; }
    body.about .right nav ul {
      display: table-cell;
      vertical-align: middle;
      padding-left: 30px; }
      body.about .right nav ul li {
        padding-top: 10px;
        padding-bottom: 10px;
        list-style: none;
        color: #ADB5BD; }
        body.about .right nav ul li span {
          cursor: pointer;
          transition: all 0.5s; }
          body.about .right nav ul li span:first-of-type {
            display: inline-block;
            margin-right: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 5px;
            padding-right: 5px;
            width: 30px;
            border: solid 1px #ADB5BD;
            border-radius: 30px;
            font-size: 10px;
            line-height: 20px;
            text-align: center; }
          body.about .right nav ul li span:nth-of-type(2) {
            opacity: 0;
            font-size: 15px; }
        body.about .right nav ul li.state span:first-of-type {
          border-color: #000000;
          color: #000000; }
        body.about .right nav ul li:hover span {
          opacity: 1;
          color: #000000; }
          body.about .right nav ul li:hover span:first-of-type {
            border-color: #000000; }
  body.about .right .content--container {
    display: table;
    height: 100%; }
  body.about .right .content {
    display: table-cell;
    vertical-align: middle;
    padding-top: 120px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: left; }
    body.about .right .content.hide {
      display: none; }
    body.about .right .content span {
      cursor: pointer; }
    body.about .right .content.content__ml-learning-initiative span {
      color: #F03E3E;
      border-bottom: solid 1px #F03E3E; }
    body.about .right .content.content__ag span {
      color: #20C997;
      border-bottom: solid 1px #20C997; }
    body.about .right .content.content__ocean-initiative span {
      color: #4263EB;
      border-bottom: solid 1px #4263EB; }
    body.about .right .content.content__space-exploration-initiative span {
      color: #FAB005;
      border-bottom: solid 1px #FAB005; }
    body.about .right .content p {
      margin-bottom: 15px;
      font-size: 20px;
      line-height: 1.5; }
  body.about .right .footnote {
    position: absolute;
    bottom: 30px;
    z-index: 100;
    width: 100%;
    font-size: 10px;
    line-height: 1;
    text-align: center; }

body.about .headline--container {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center; }
  body.about .headline--container h3 {
    margin-top: -10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px; }

body.about .svg--container {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center; }
  body.about .svg--container .svg {
    display: table-cell;
    vertical-align: middle; }

body.elements {
  /* slide hover */
  /*  sticky */
  /* Preloader */ }
  body.elements .stickem-container {
    position: relative; }
  body.elements .left-container {
    left: 0; }
    body.elements .left-container .content-container {
      display: table;
      height: 100%; }
      body.elements .left-container .content-container .content {
        display: table-cell;
        vertical-align: middle;
        padding-left: 90px;
        padding-right: 90px;
        text-align: center; }
        body.elements .left-container .content-container .content h3 {
          margin-bottom: 25px;
          font-size: 25px; }
        body.elements .left-container .content-container .content p {
          font-size: 15px;
          line-height: 1.5; }
  body.elements .section-container {
    padding-top: 120px; }
    body.elements .section-container .stickit {
      position: fixed;
      top: 120px; }
    body.elements .section-container .left-container,
    body.elements .section-container .right-container {
      display: inline-block;
      width: 50%;
      height: 100%; }
  body.elements .case {
    padding: 180px 120px 100px 120px; }
  body.elements .desc {
    width: 40%;
    max-width: 600px;
    float: left;
    position: absolute; }
  body.elements .desc p {
    color: #666666;
    font-size: 20px;
    line-height: 1.5; }
  body.elements .desc a {
    margin-top: 20px;
    color: #000;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s cubic-bezier(0.23, 1, 0.32, 1); }
  body.elements .desc ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 40px;
    padding-bottom: 30px; }
  body.elements .desc ul li {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    line-height: 2.1;
    display: inline-block;
    float: left;
    letter-spacing: 2px;
    margin-right: 15px;
    color: #cecece; }
  body.elements .desc h1 {
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 35px; }
  body.elements .img-container {
    width: calc(50% - 120px);
    float: right; }
  body.elements .img {
    width: 100%;
    display: block;
    margin-bottom: 30px; }
  body.elements .img img {
    width: 100%; }
  body.elements .client {
    margin-bottom: 40px;
    max-width: 350px; }
  body.elements .responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  body.elements .responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    /* Default for 1600x900 videos 16:9 ratio*/
    padding-top: 0px;
    height: 0;
    overflow: hidden;
    margin-bottom: 30px;
    width: 100%; }
  body.elements .sliding {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1); }
  body.elements .sliding:after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: #fff;
    transition: width 0.3s cubic-bezier(0.23, 1, 0.32, 1); }
  body.elements .sliding:hover:after {
    width: 100%;
    background: #fff; }
  body.elements .blue:after {
    background: #2400ff; }
  body.elements .blue:hover:after {
    background: #2400ff; }
  body.elements .blue:hover {
    color: #2400ff; }
  body.elements .sliding:hover {
    transform: translate(3px, 0); }
  body.elements .stickem-container {
    position: relative; }
  body.elements .stickit {
    position: fixed;
    top: 90px;
    width: 32%; }
  body.elements .stickit-end {
    bottom: 0px;
    padding-bottom: 101px;
    position: absolute; }
  body.elements #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f8f8f8;
    z-index: 9999; }
  body.elements #status {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px; }
  body.elements #status svg {
    fill: #000; }
  body.elements .disable-hover {
    pointer-events: none; }
  body.elements .loader {
    width: 300px;
    height: 300px;
    position: absolute;
    border: #e7e7e7 1px solid;
    border-radius: 50%;
    top: -135px;
    left: -105px;
    animation-name: loader;
    animation-duration: 3.5s;
    animation-iteration-count: infinite; }

@keyframes loader {
  0% {
    transform: scale(0.3);
    opacity: 0; }
  30% {
    opacity: 1; }
  100% {
    transform: scale(1.3);
    opacity: 0; } }

.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1; }

.swiper-container-no-flexbox .swiper-slide {
  float: left; }

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide, .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform; }

.swiper-invisible-blank-slide {
  visibility: hidden; }

.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
  height: auto; }

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition-property: height,-webkit-transform;
  transition-property: height,-webkit-transform;
  -o-transition-property: transform,height;
  transition-property: transform,height;
  transition-property: transform,height,-webkit-transform; }

.swiper-container-3d {
  -webkit-perspective: 1200px;
  perspective: 1200px; }

.swiper-container-3d .swiper-wrapper, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10; }

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-wp8-horizontal, .swiper-container-wp8-horizontal > .swiper-wrapper {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.swiper-container-wp8-vertical, .swiper-container-wp8-vertical > .swiper-wrapper {
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

.swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat; }

.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none; }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto; }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto; }

.swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-white, .swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-prev.swiper-button-black, .swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-black, .swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms opacity;
  -o-transition: 300ms opacity;
  transition: 300ms opacity;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10; }

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0; }

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%; }

.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33);
  position: relative; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  -webkit-transform: scale(0.66);
  -ms-transform: scale(0.66);
  transform: scale(0.66); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  -webkit-transform: scale(0.66);
  -ms-transform: scale(0.66);
  transform: scale(0.66); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33); }

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2; }

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff; }

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0); }

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0;
  display: block; }

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 8px; }

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  -webkit-transition: 200ms top,200ms -webkit-transform;
  transition: 200ms top,200ms -webkit-transform;
  -o-transition: 200ms transform,200ms top;
  transition: 200ms transform,200ms top;
  transition: 200ms transform,200ms top,200ms -webkit-transform; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px; }

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap; }

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms left,200ms -webkit-transform;
  transition: 200ms left,200ms -webkit-transform;
  -o-transition: 200ms transform,200ms left;
  transition: 200ms transform,200ms left;
  transition: 200ms transform,200ms left,200ms -webkit-transform; }

.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms right,200ms -webkit-transform;
  transition: 200ms right,200ms -webkit-transform;
  -o-transition: 200ms transform,200ms right;
  transition: 200ms transform,200ms right;
  transition: 200ms transform,200ms right,200ms -webkit-transform; }

.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute; }

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top; }

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top; }

.swiper-container-horizontal > .swiper-pagination-progressbar {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0; }

.swiper-container-vertical > .swiper-pagination-progressbar {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0; }

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #ffffff; }

.swiper-pagination-progressbar.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.25); }

.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill {
  background: #ffffff; }

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000000; }

.swiper-pagination-progressbar.swiper-pagination-black {
  background: rgba(0, 0, 0, 0.25); }

.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill {
  background: #000000; }

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1); }

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%; }

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%; }

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0; }

.swiper-scrollbar-cursor-drag {
  cursor: move; }

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.swiper-zoom-container > img, .swiper-zoom-container > svg, .swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain; }

.swiper-slide-zoomed {
  cursor: move; }

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite; }

.swiper-lazy-preloader:after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat; }

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000; }

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity; }

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-fade .swiper-slide-active, .swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube {
  overflow: visible; }

.swiper-container-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%; }

.swiper-container-cube .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0; }

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-next, .swiper-container-cube .swiper-slide-prev, .swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible; }

.swiper-container-cube .swiper-slide-shadow-top, .swiper-container-cube .swiper-slide-shadow-bottom, .swiper-container-cube .swiper-slide-shadow-left, .swiper-container-cube .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0; }

.swiper-container-flip {
  overflow: visible; }

.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1; }

.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-flip .swiper-slide-active, .swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-flip .swiper-slide-shadow-top, .swiper-container-flip .swiper-slide-shadow-bottom, .swiper-container-flip .swiper-slide-shadow-left, .swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-coverflow .swiper-wrapper {
  -ms-perspective: 1200px; }
