<div class="menu--container">
    <ul>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/lego-underwater-robots/">LEGO Underwater Robots</a></li>
        <li><a href="{{ site.baseurl }}/personal-food-computer-edu/">Personal Food Computer EDU</a></li>
        <li><a href="{{ site.baseurl }}/climate-cubesat-co-building/">Climate CubeSat Co-Building</a></li>
        <li><a href="{{ site.baseurl }}/about/">About</a></li>
    </ul>
</div>

<div class="overlay"></div>