.sliding {
    display: inline-block;
    transition: all .5s cubic-bezier(0.23, 1, 0.32, 1);

    &:after {
        content: '';
        display: block;
        height: 2px;
        width: 0;
        background-color: $white;
        transition: all .5s cubic-bezier(0.23, 1, 0.32, 1);
    }

    &:hover {
        transform: translate(0, 0);

        &:after {
            width: 100%;
            background-color: $white;
        }
    }

    &.black {
        &:after {
            background-color: $black;
        }

        &:hover {
            color: $black;
            &:after {
                background-color: $black;
            }
        }
    }

    &.red {
        &:after {
            background-color: $red;
        }

        &:hover {
            color: $red;
            &:after {
                background-color: $red;
            }
        }
    }

    &.green {
        &:after {
            background-color: $green;
        }

        &:hover {
            color: $green;
            &:after {
                background-color: $green;
            }
        }
    }

    &.blue {
        &:after {
            background-color: $blue;
        }

        &:hover {
            color: $blue;
            &:after {
                background-color: $blue;
            }
        }
    }

    &.yellow {
        &:after {
            background-color: $yellow;
        }

        &:hover {
            color: $yellow;
            &:after {
                background-color: $yellow;
            }
        }
    }
}

.corner--container {
    .corner {
        position: fixed;
        z-index: 2000;
        font-size: 0;
    }

    .l-1 {
        &.loaded {
            top: calc(50% - 65px);
            right: calc(50% - 65px); 
        }

        top: 0;
        right: 0;

        img {
            width: 130px;
            height: 130px;

            @media only screen and (max-width: $breakpoint-med) {
                width: 65px;
                height: 65px;
            }
        }
    }

    .l-2 {
        &.loaded {
            bottom: calc(50% - 65px);
            left: calc(50% - 65px);
        }

        bottom: 0;
        left: 0;

        @media only screen and (max-width: $breakpoint-med) {
            background-color: $white;
            border-top: solid 1px rgba($color: $black, $alpha: 0.1);
            width: 100%;
        }

        img {
            width: 75px;
            height: 75px;

            @media only screen and (max-width: $breakpoint-med) {
                width: 37.5px;
                height: 37.5px;
            }
        }
    }

    .l-1, .l-2 {
        // transition: top 1s, bottom 1s, left 1s, right 1s;
    }
}

.mit {
    position: fixed;
    bottom: 45px;
    left: 45px;
    z-index: 1000;

    @media only screen and (max-width: $breakpoint-med) {
        display: none;
    }

    img {
        width: 57px;
    }
}

.divider {
    position: fixed;
    top: 130px;
    left: 50%;
    width: 1px;
    height: calc(100% - 120px);
    background-color: rgba($color: $black, $alpha: 0.1);

    @media only screen and (max-width: $breakpoint-med) {
        display: none;
    }
}

nav {
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 100;

    @media only screen and (max-width: $breakpoint-med) {
        display: none;
    }

    ul {
        display: table-cell;
        vertical-align: middle;
        padding-left: 30px;

        li {
            padding-top: 10px;
            padding-bottom: 10px;
            list-style: none;
            color: $light-grey;
            text-align: left;

            span {
                cursor: pointer;
                transition: opacity 0.5s;

                &:first-of-type {
                    display: inline-block;
                    margin-right: 5px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 5px;
                    padding-right: 5px;
                    width: 20px;
                    height: 20px;
                    border: solid 1px $light-grey;
                    border-radius: 30px;
                    font-size: 10px;
                    line-height: 8px;
                    text-align: center;
                }

                &:nth-of-type(2) {
                    opacity: 0;
                    color: $white;
                    font-size: 10px;
                    line-height: 10px;
                }
            }

            &.state {
                span {
                    &:first-of-type {
                        border-color: $black;
                        color: $black;
                    }
                }
            }

            &:hover {
                span {
                    opacity: 1;
                    color: $black;

                    &:first-of-type {
                        border-color: $black;
                    }
                }
            }
        }
    }
}

.menu--container {
    display: table;
    position: fixed;
    top: 0;
    left: -480px;
    height: 100%;
    max-width: 100%;
    width: 480px;
    z-index: 3000;
    background-color: $black;
    transition: all ease-in-out 0.5s;

    &.state {
        left: 0;
    }

    ul {
        display: table-cell;
        margin: 0;
        padding-left: 45px;
        vertical-align: middle;

        li {
            padding-top: 15px;
            padding-bottom: 15px;
            list-style: none;

            a {
                color: $white;
                font-size: 20px;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 360px;
    z-index: 750;
    width: calc(100% - 360px);
    height: 100%;
    cursor: pointer;
}