// Fonts
@font-face {
    font-family: "Light";
    src: url("../font/HaasLight.woff2") format("woff2")
}

@font-face {
    font-family: "Regular";
    src: url("../font/HaasRegular.woff2") format("woff2")
}

@font-face {
    font-family: "Bold";
    src: url("../font/HaasBold.woff2") format("woff2")
}

$light: "Light";
$regular: "Regular";
$bold: "Bold";

// Colours
$white: #FFFFFF;
$black: #000000;
$grey: #666666;
$light-grey: #ADB5BD;
$blue: #4263EB;
$green: #20C997;
$yellow: #FAB005;
$red: #F03E3E;

body {
    font-family: $regular;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header,
main,
footer,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
p,
span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
}

img {
    max-width: 100%;
}

b, strong {
    font-family: $bold;
}