.load--overlay {
    position: fixed;
    top: 131px;
    left: 0;
    width: 100%;
    height: calc(100% - 131px);
    z-index: 500;
    background-color: $white;
    transition: opacity 0.5s;

    @media only screen and (max-width: $breakpoint-small) {
        top: 66px;
        height: calc(100% - 66px);
    }

    @media only screen and (max-width: $breakpoint-med) {
        top: 66px;
        height: calc(100% - 66px);
    }
}

main.elements {
    padding-top: 130px;

    @media only screen and (max-width: $breakpoint-med) {
        padding-top: 65px;
    }

    .section--container {

        section {
            padding-top: 110px;
            padding-bottom: 60px;
            padding-left: 120px;
            padding-right: 60px;
            zoom: 1;

            @media only screen and (max-width: $breakpoint-large) {
                padding-top: 30px;
                padding-bottom: 30px;
                padding-left: 70px;
                padding-right: 70px;
            }
            
            @media only screen and (max-width: $breakpoint-med) {
                padding-left: 20px;
                padding-right: 20px;
            }

            &:before,
            &:after {
                display: table;
                content: "";
            }

            &:after {
                clear: both;
            }

            .text--container {
                float: left;
                position: absolute;
                padding-bottom: 30px;
                width: calc(50% - 180px);
                max-width: 540px;
                z-index: 100;

                @media only screen and (max-width: $breakpoint-large) {
                    width: auto;
                    max-width: auto;
                    float: unset;
                    position: static;
                }

                h3 {
                    margin-top: 0;
                    margin-bottom: 50px;
                    font-family: $bold;
                    font-size: 20px;
                }
                
                p {
                    color: $grey;
                    font-size: 16px;
                    line-height: 1.75;
                }

                a {
                    margin-top: 20px;
                    color: $black;
                    font-family: $bold;
                    font-size: 16px;
                    text-decoration: none;
                    transition: color 0.5s cubic-bezier(0.23, 1, 0.32, 1);
                    @media only screen and (max-width: $breakpoint-med) {
                        font-size: 16px;
                    }
                     &.main-link {
                        font-size: 18px;
                    }
                }
            }

            .media--container {
                float: right;
                width: calc(50% - 30px);
                
                @media only screen and (max-width: $breakpoint-large) {
                    width: auto;
                    float: unset;
                }

                .img--container {
                    .img {
                        display: inline-block;
                        margin-bottom: 30px;
                        width: auto;
                        background-color: $light-grey;

                        img,
                        span {
                            display: block;
                        }

                        img {
                            max-width: 100%;
                            max-height: 540px;
                            width: auto;
                            height: auto;
                        }
                    }
                }
                
                .video--container {
                    .video {
                        position: relative;
                        padding-bottom: 56.25%;
                        padding-top: 0px;
                        height: 0;
                        overflow: hidden;
                        margin-bottom: 30px;
                        width: 100%;
                        background-color: $light-grey;

                        iframe {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .caption {
                    margin-top: -20px;
                    padding-bottom: 45px;
                    max-width: 540px;
                    @media only screen and (max-width: $breakpoint-med) {
                        padding-bottom: 30px;
                    }

                    span {
                        color: $grey;
                        font-size: 12px;
                        line-height: 1.35;
                    }
                }
            }
        }
    }
}