main.home {
    .container {
        width: 87.5%;

        @media only screen and (max-width: $breakpoint-med) {
            width: 96%;
        }
    }

    .content--container {
        position: absolute;
        top: 130px;
        padding-bottom: 120px;
        width: 100%;

        @media only screen and (max-width: $breakpoint-med) {
            top: 65px;
            padding-bottom: 80px;
        }

        .headline {
            padding-top: 60px;

            @media only screen and (max-width: $breakpoint-med) {
                padding-top: 30px;
            }

            h3 {
                color: #000;
                font-size: 25px;
                letter-spacing: -0.025em;
                line-height: 1.75em;

                @media only screen and (max-width: $breakpoint-med) {
                    font-size: 20px;
                }

                span {
                    color: #000;
                    cursor: default;
                }

                a {
                    margin-bottom: -10px;
                    color: #000;
                    font-family: $bold;
                    text-decoration: none;
                    line-height: 1.25em;
                    transition: color 0.25s;

                    &.blue {
                        &:hover {
                            color: $blue;
                        }
                    }

                    &.green {
                        &:hover {
                            color: $green;
                        }
                    }

                    &.yellow {
                        &:hover {
                            color: $yellow;
                        }
                    }
                }
            }
        }

        .element--container {
            padding-top: 75px;

            a {
                text-decoration: none;

                .element-link {
                    padding-left: 17.5%;
                    padding-right: 17.5%;

                    &:hover {
                        img {
                            transform: scale(1.05);
                        }
                    }
        
                    @media only screen and (max-width: $breakpoint-med) {
                        padding-top: 45px;
                    }
        
                    .element-image--container {
                        font-size: 0;
                        overflow: hidden;

                        @media only screen and (max-width: $breakpoint-med) {
                            padding-left: 0;
                            padding-right: 0;
                        }
        
                        img {
                            width: 100%;
                            height: auto;
                            transition: transform 0.75s;
                        }
                    }
        
                    .element-text--container {
                        padding-top: 20px;
        
                        @media only screen and (max-width: $breakpoint-med) {
                            padding-top: 15px;
                            padding-left: 0;
                            padding-right: 0;
                        }
        
                        h4 {
                            margin-bottom: 10px;
                            color: #000;
                            font-size: 15px;
                            font-family: $bold;
                            letter-spacing: -0.025em;
                        }
        
                        p {
                            color: #999;
                            font-size: 15px;
                            line-height: 1.45;
                        }
                    }
                }
            }
        }
    }
}