main.home {
    .container {
        width: 87.5%;

        @media only screen and (max-width: $breakpoint-med) {
            width: 96%;
        }
    }

    .content--container {
        position: absolute;
        top: 130px;
        padding-bottom: 30px;
        width: 100%;

        @media only screen and (max-width: $breakpoint-med) {
            top: 65px;
            padding-bottom: 80px;
        }

        .headline {
            padding-top: 60px;

            @media only screen and (max-width: $breakpoint-med) {
                padding-top: 30px;
            }

            h3 {
                color: $black;
                font-size: 25px;
                letter-spacing: -0.025em;
                line-height: 1.5em;

                @media only screen and (max-width: $breakpoint-med) {
                    font-size: 20px;
                }

                span {
                    color: $black;
                    cursor: default;
                }

                a {
                    margin-bottom: -10px;
                    color: $black;
                    font-family: $bold;
                    text-decoration: none;
                    line-height: 1.25em;
                    transition: color 0.25s;

                    &.blue {
                        &:hover {
                            color: $blue;
                        }
                    }

                    &.green {
                        &:hover {
                            color: $green;
                        }
                    }

                    &.yellow {
                        &:hover {
                            color: $yellow;
                        }
                    }
                }
            }
        }

        .element--container {
            padding-top: 75px;

            @media only screen and (max-width: $breakpoint-med) {
                padding-top: 0;
            }

            a {
                text-decoration: none;

                .element-link {
                    padding-left: 17.5%;
                    padding-right: 17.5%;

                    &:hover {
                        img {
                            transform: scale(1.05);
                        }

                        .element-text--container {
                            h4 {
                                &.blue {
                                    color: $blue;
                                }

                                &.green {
                                    color: $green;
                                }

                                &.yellow {
                                    color: $yellow;
                                }

                                &::after {
                                    opacity: 1;
                                }
                            }
                        }
                    }

                    @media only screen and (max-width: $breakpoint-small) {
                        padding-left: 0;
                        padding-right: 0;
                    }
        
                    @media only screen and (max-width: $breakpoint-med) {
                        padding-top: 45px;
                    }
        
                    .element-image--container {
                        font-size: 0;
                        overflow: hidden;

                        @media only screen and (max-width: $breakpoint-med) {
                            padding-left: 0;
                            padding-right: 0;
                        }
        
                        img {
                            width: 100%;
                            height: auto;
                            transition: transform 0.35s;
                            transition-timing-function: ease-in-out;
                        }
                    }
        
                    .element-text--container {
                        padding-top: 20px;
        
                        @media only screen and (max-width: $breakpoint-med) {
                            padding-top: 15px;
                            padding-left: 0;
                            padding-right: 0;
                        }
        
                        h4 {
                            transition: color 0.5s;
                            margin-bottom: 10px;
                            color: $black;
                            font-size: 17.5px;
                            font-family: $bold;
                            letter-spacing: -0.025em;
                            vertical-align: bottom;

                            &::after {
                                display: inline-block;
                                margin-left: 15px;
                                opacity: 0.5;
                                transition: opacity 0.5s;
                                width: 15px;
                                height: 15px;
                                background-image: url("../img/link@2x.png");
                                background-size: 100%;
                                content: "";
                            }
                        }
        
                        p {
                            color: $grey;
                            font-size: 15px;
                            line-height: 1.35;
                        }
                    }
                }
            }
        }
    }
}