.load {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    z-index: 500;
}

main.home {
    display: table;
    width: 100%;

    .container {
        width: 82%;
        max-width: 1400px;

        @media only screen and (max-width: $breakpoint-med) {
            width: 96%;
        }
    }

    .content--container {
        display: table-cell;
        vertical-align: middle;
        padding-top: 110px;
        padding-bottom: 100px;
        width: 100%;
        min-height: calc(100% - 160px);

        @media only screen and (max-width: $breakpoint-med) {
            padding-top: 80px;
            padding-bottom: 80px;
        }

        .headline {
            padding-top: 60px;

            @media only screen and (max-width: $breakpoint-med) {
                padding-top: 30px;
            }

            h3 {
                color: $black;
                font-size: 25px;
                letter-spacing: -0.025em;
                line-height: 1.5em;
                text-align: center;

                @media only screen and (max-width: $breakpoint-med) {
                    font-size: 20px;
                }

                span {
                    color: $black;
                    cursor: default;
                }

                a {
                    margin-bottom: -10px;
                    color: $black;
                    font-family: $bold;
                    text-decoration: none;
                    line-height: 1.25em;
                    transition: color 0.25s;

                    &.blue {
                        &:hover {
                            color: $blue;
                        }
                    }

                    &.green {
                        &:hover {
                            color: $green;
                        }
                    }

                    &.yellow {
                        &:hover {
                            color: $yellow;
                        }
                    }
                }
            }
        }

        .element--container {
            padding-top: 50px;

            @media only screen and (max-width: $breakpoint-med) {
                padding-top: 0;
            }

            a {
                text-decoration: none;

                .element-link {
                    padding-left: 7.5%;
                    padding-right: 7.5%;

                    &:hover {
                        img {
                            transform: scale(1.05);
                        }

                        .element-text--container {
                            h4 {
                                &.blue {
                                    color: $blue;
                                }

                                &.green {
                                    color: $green;
                                }

                                &.yellow {
                                    color: $yellow;
                                }

                                &::after {
                                    opacity: 1;
                                }
                            }
                        }
                    }

                    @media only screen and (max-width: $breakpoint-small) {
                        padding-left: 0;
                        padding-right: 0;
                    }
        
                    @media only screen and (max-width: $breakpoint-med) {
                        padding-top: 45px;
                    }
        
                    .element-image--container {
                        font-size: 0;
                        overflow: hidden;

                        @media only screen and (max-width: $breakpoint-med) {
                            padding-left: 0;
                            padding-right: 0;
                        }
        
                        img {
                            width: 100%;
                            height: auto;
                            transition: transform 0.35s;
                            transition-timing-function: ease-in-out;
                        }
                    }
        
                    .element-text--container {
                        position: relative;
                        margin-top: 20px;
        
                        @media only screen and (max-width: $breakpoint-med) {
                            margin-top: 15px;
                            padding-left: 0;
                            padding-right: 0;
                        }
        
                        h4 {
                            display: inline-block;
                            margin-bottom: 10px;
                            margin-right: 15px;
                            transition: color 0.5s;
                            width: calc(100% - 20px);
                            color: $black;
                            font-size: 17.5px;
                            font-family: $bold;
                            letter-spacing: -0.025em;
                            line-height: 1.35;
                            vertical-align: bottom;

                            /*&::after {
                                position: absolute;
                                top: 5px;
                                right: 0;
                                margin-left: 5px;
                                opacity: 0.5;
                                transition: opacity 0.5s;
                                width: 15px;
                                height: 15px;
                                background-image: url("../img/link@2x.png");
                                background-size: 100%;
                                content: "";
                            }*/
                        }
        
                        p {
                            color: $grey;
                            font-size: 15px;
                            line-height: 1.35;
                        }
                    }
                }
            }
        }
    }
}